link(rel="stylesheet", href="/static/css/reset.cso.css")
link(rel="stylesheet", href="/static/css/font.cso.css")
link(rel="stylesheet", href="/static/css/common.cso.css")
link(rel="stylesheet", href="/static/css/navigation.cso.css")
link(rel="stylesheet", href="/static/css/button.cso.css")
link(rel="stylesheet", href="/static/css/forms.cso.css")
link(rel="stylesheet", href="/static/css/timlab.cso.css")
link(rel="stylesheet", href="/static/css/default_page.cso.css")
link(rel="stylesheet", href="/static/css/mobile.cso.css")
link(rel="stylesheet", href="/static/css/pushy.cso.css")