head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="COMMMITECH SOLUSINDO menawarkan konsultasi IT dan pembuatan perangkat lunak secara optimal dengan biaya seminimal mungkin untuk menunjang kebutuhan bisnis anda di era digital. Di era digital, Komunikasi antara pemangku kepentingan bisnis dengan pelanggan berlangsung cepat dan efisien merupakan salah satu kunci sukses dari bisnis anda.")
    meta(property="og:title" content="CSO patner terpercaya untuk digitalisasi bisnis anda.")
    meta(property="og:url" content="https://cso.ddns.net")
    meta(property="og:description" content="COMMMITECH SOLUSINDO menawarkan konsultasi IT dan pembuatan perangkat lunak secara optimal dengan biaya seminimal mungkin untuk menunjang kebutuhan bisnis anda di era digital. Di era digital, Komunikasi antara pemangku kepentingan bisnis dengan pelanggan berlangsung cepat dan efisien merupakan salah satu kunci sukses dari bisnis anda.")
    meta(property="og:title" content="CSO patner terpercaya untuk digitalisasi bisnis anda.")
    meta(property="og:image" content="https://cso.ddns.net/images/logo.svg")
    meta(property="og:type" content="website")    
    link(rel="stylesheet", href="/static/css/reset.cso.css")
    link(rel="stylesheet", href="/static/css/font.cso.css")
    link(rel="stylesheet", href="/static/css/common.cso.css")
    link(rel="stylesheet", href="/static/css/navigation.cso.css")
    link(rel="stylesheet", href="/static/css/button.cso.css")
    link(rel="stylesheet", href="/static/css/timlab.cso.css")
    link(rel="stylesheet", href="/static/css/default_page.cso.css")
    link(rel="stylesheet", href="/static/css/mobile.cso.css")
    link(rel="stylesheet", href="/static/css/pushy.cso.css")