.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.display_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fw_nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.fw_wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.jc_space_between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.grayscale100 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%)
}

.grayscale0 {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0)
}

.h1InnerPage {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5em
}

.h1InnerPage b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h1InnerPage {
        font-size:30px;
        font-weight: 700;
        line-height: 1.5em
    }
}

.h1InnerPageSmaller {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5em
}

.h1InnerPageSmaller b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h1InnerPageSmaller {
        font-size:30px;
        font-weight: 700;
        line-height: 1.5em
    }
}

.h2InnerPage {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5em
}

.h2InnerPage b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h2InnerPage {
        font-size:24px;
        font-weight: 400;
        line-height: 1.5em
    }
}

.h3InnerPage {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5em
}

.h3InnerPage b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h3InnerPage {
        font-size:18px;
        font-weight: 400;
        line-height: 1.5em
    }
}

.h4InnerPage {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em
}

.h4InnerPage b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h4InnerPage {
        font-size:16px;
        font-weight: 600;
        line-height: 1.5em
    }
}

.h5InnerPage {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5em
}

.h5InnerPage b {
    font-weight: inherit;
    color: #FF6F3D
}

@media screen and (max-width: 589px) {
    .h5InnerPage {
        font-size:16px;
        font-weight: 600;
        line-height: 1.5em
    }
}

.headerBlockPadding {
    padding: 112px 0
}

@media screen and (max-width: 1023px) {
    .headerBlockPadding {
        padding:88px 0
    }
}

@media screen and (max-width: 592px) {
    .headerBlockPadding {
        padding:48px 0
    }
}

.commonBlockPadding {
    padding: 80px 0
}

@media screen and (max-width: 589px) {
    .commonBlockPadding {
        padding:40px 0
    }
}

.twoColumnBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 50px
}

@media screen and (max-width: 1089px) {
    .twoColumnBlock {
        grid-template-columns:1fr;
        grid-gap: 40px 0
    }
}

.threeColumnBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 50px
}

@media screen and (max-width: 899px) {
    .threeColumnBlock {
        grid-template-columns:1fr 1fr
    }
}

@media screen and (max-width: 589px) {
    .threeColumnBlock {
        grid-template-columns:1fr;
        grid-gap: 40px 0
    }
}

.blockWithIcons {
    vertical-align: top;
    width: auto;
    margin: 0;
    position: relative
}

.blockWithIcons:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    padding: 0
}

@media screen and (max-width: 589px) {
    .blockWithIcons:before {
        -ms-transform:scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        transform-origin: 0 50%;
        margin: 0 0 10px
    }
}

.leftSideIcons {
    vertical-align: top;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0 0 0 100px
}

.leftSideIcons:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    padding: 0
}

@media screen and (max-width: 589px) {
    .leftSideIcons:before {
        -ms-transform:scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        transform-origin: 0 50%;
        margin: 0 0 10px
    }
}

@media screen and (max-width: 589px) {
    .leftSideIcons {
        padding:0
    }
}

.leftSideIcons:before {
    position: absolute;
    left: 0;
    top: 15px;
    margin: 0
}

@media screen and (max-width: 589px) {
    .leftSideIcons:before {
        position:relative;
        top: 0
    }
}

.h3-desk {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.33em;
    margin: 0 auto
}

.h3-mob {
    font-size: 18px;
    letter-spacing: -0.01em
}

.headerH2Style {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    line-height: 1.2em;
    text-align: left;
    font-family: "Open Sans",sans-serif,Arial
}

.mobileWidth {
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px
}

.tabletWidth {
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px
}

.mobileFont {
    font-size: 15px
}

.mobileButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.boldHeaderH1Style {
    font-size: 46px;
    font-weight: 700;
    color: 1.2em;
    line-height: 1.2em;
    text-align: left;
    font-family: "Open Sans",sans-serif,Arial
}

.mainContentContainer {
    max-width: 1120px;
    margin: 0 auto
}

@media screen and (max-width: 1279px) {
    .mainContentContainer {
        max-width:928px;
        width: 90vw
    }
}

@media screen and (max-width: 1023px) {
    .mainContentContainer {
        max-width:none !important
    }
}

.max-width-1 {
    max-width: 1120px;
    margin: 0 auto
}

@media screen and (max-width: 1023px) {
    .max-width-1 {
        width:calc(100% - 80px);
        padding-left: 40px;
        padding-right: 40px
    }
}

@media screen and (max-width: 592px) {
    .max-width-1 {
        width:calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px
    }
}

.max-width-2 {
    max-width: 1180px;
    margin: 0 auto
}

@media screen and (max-width: 1089px) {
    .max-width-2 {
        width:calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px
    }
}

.max-width-3 {
    max-width: 1120px;
    margin: 0 auto
}

@media screen and (max-width: 1089px) {
    .max-width-3 {
        width:calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px
    }
}

.max-width-4 {
    max-width: 1000px;
    margin: 0 auto
}

@media screen and (max-width: 1089px) {
    .max-width-4 {
        width:calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px
    }
}

.max-width-5 {
    max-width: 1200px;
    margin: 0 auto
}

@media screen and (max-width: 1199px) {
    .max-width-5 {
        width:calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px
    }
}

.shadowWithTransition {
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s
}

.shadowHover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1)
}

.shadowWithTransitionAndHover {
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s
}

.shadowWithTransitionAndHover:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1)
}

.shadowLiteSmall {
    box-shadow: 0 7px 25px rgba(85,85,85,0.15);
    -moz-box-shadow: 0 7px 25px rgba(85,85,85,0.15);
    -webkit-box-shadow: 0 7px 25px rgba(85,85,85,0.15)
}

.shadowLiteBlurred {
    box-shadow: 0px 15px 150px rgba(85,85,85,0.25);
    -moz-box-shadow: 0px 15px 150px rgba(85,85,85,0.25);
    -webkit-box-shadow: 0px 15px 150px rgba(85,85,85,0.25)
}

.shadowDarkBlurred {
    box-shadow: 0px 15px 170px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 15px 170px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 15px 170px rgba(0,0,0,0.25)
}

.display-none {
    display: none !important
}

.grecaptcha-badge {
    display: none
}

.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

*+html .clearFix {
    zoom:1}

.clearFix {
    display: block
}

.portalChooseMainContainer .captchaReducer .clearFix {
    display: block
}

article {
    padding-top: 72px;
    position: relative;
    margin-top: -72px
}

.narrowheader,footer {
    margin: 0 auto;
    position: relative
}

footer {
    z-index: 20;
    border-top: 1px solid #ccc
}

header {
    width: 100%;
    height: 71px;
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-position: 0 0;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    z-index: 1001
}

header.onscrolling {
    position: fixed;
    top: 0
}

.logo {
    width: 152px;
    height: 71px;
    background: url("/static/images/logo_new.svg") no-repeat 0 50%;
    background-size: 152px 33px;
    margin-left: 24px;
    position: relative;
    z-index: 1
}

.logo a {
    display: block;
    height: 71px;
    width: 152px;
    cursor: pointer
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    .logo {
        background-size:152px 32px
    }
}

.footercolor,.gray-bg-block {
    background: #fff
}

.narrowfooter {
    margin: 0 auto;
    max-width: 1120px;
    min-width: 769px;
    position: relative
}

.footer_apps {
    padding-top: 56px
}

.footer_apps .footer_apps_title {
    font-weight: 600;
    font-size: 13px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 16px
}

.footer_apps .footer_apps_list {
    display: flex;
    gap: 16px
}

.footer_apps .footer_apps_list .footer_apps_item {
    display: block;
    padding: 22px 16px 22px 64px;
    background: #f9f9f9;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-position: 16px center
}

.footer_apps .footer_apps_list .footer_apps_item span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #444444
}

.footer_apps .footer_apps_list .footer_apps_item:hover {
    background-color: #f5f5f5
}

.footer_apps .footer_apps_list .footer_apps_item.for_windows {
    background-image: url(/static/images/for-windows.svg)
}

.footer_apps .footer_apps_list .footer_apps_item.for_linux {
    background-image: url(/static/images/for-linux.svg)
}

.footer_apps .footer_apps_list .footer_apps_item.for_macos {
    background-image: url(/static/images/for-macos.svg)
}

.footer_apps .footer_apps_list .footer_apps_item.for_android {
    background-image: url(/static/images/for-android.svg)
}

.footer_apps .footer_apps_list .footer_apps_item.for_ios {
    background-image: url(/static/images/for-ios.svg)
}

.footer_menu {
    text-align: left;
    vertical-align: top;
    position: relative
}

.footer_menu a.footerbutton,.footer_menu a.footerbutton:hover {
    position: absolute;
    top: 190px;
    left: 0;
    text-decoration: none
}

.footer-search-box {
    display: none;
    max-width: 940px;
    margin: auto;
    position: relative;
    width: 60vw
}

.footer-search-box.search-box-shown {
    display: block
}

.footer-search-box .close-button {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: calc(100% - 4px);
    position: absolute;
    right: 0;
    width: 50px;
    box-sizing: border-box;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 2px
}

.footer-search-box .close-button {
    background-image: url(/static/images/landing/market-place/close-button.svg);
    display: none;
    z-index: 1
}

.footer-search-box .close-button.has-value {
    display: block;
    background-color: #fff;
    cursor: pointer;
    right: 0;
    left: auto;
    background-size: 13px
}

.footer-search-box .search-placeholder {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #AAAAAA;
    align-content: center;
    transition: transform 100ms ease,font-size 100ms ease;
    transform: translateY(0);
    font-size: 14px;
    pointer-events: none
}

.footer-search-box input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 16px;
    background: #f9f9f9;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-left: 60px;
    line-height: 20px;
    outline: none;
    padding: 19px 16px 7px
}

.footer-search-box input::-webkit-input-placeholder {
    color: #CCCCCC;
    opacity: 1
}

.footer-search-box input:-moz-placeholder {
    color: #CCCCCC;
    opacity: 1
}

.footer-search-box input::-moz-placeholder {
    color: #CCCCCC;
    opacity: 1
}

.footer-search-box input:-ms-input-placeholder {
    color: #CCCCCC;
    opacity: 1
}

.footer-search-box input.input-focus {
    background: #FFFFFF;
    border-color: #444444
}

.footer-search-box input.input-focus+.search-placeholder {
    color: #666666;
    font-size: 12px;
    transform: translateX(0px) translateY(-10px)
}

.search-button {
    background-image: url(/static/images/search-button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    width: 48px;
    box-sizing: border-box;
    border-right: none;
    height: 71px;
    position: absolute;
    right: 140px;
    top: -12px
}

.search-box-container {
    left: 0;
    position: absolute;
    top: 12px;
    width: 100%
}

.footer_menu_item {
    padding: 0 0 32px
}

.footer_menu_item>div {
    display: block
}

.footer_menu_item h6 a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s
}

.footer_menu_item h6 a:hover {
    color: #ff7a4b
}

.footer_menu_item div {
    color: #444444;
    font-size: 13px;
    margin: 0 0 8px;
    line-height: 18px
}

.footer_menu_item div a {
    color: #444444;
    margin: 0;
    text-decoration: none;
    -webkit-transition: color 0.2s,border 0.5s;
    -moz-transition: color 0.2s,border 0.5s;
    -o-transition: color 0.2s,border 0.5s;
    transition: color 0.2s,border 0.5s
}

.footer_menu_item div a:hover {
    color: #ff7a4b
}

.footer_menu_item div a.mail_links {
    text-decoration: underline;
    color: #FF6F3D
}

.footer_menu_item div a.mail_links:hover {
    text-decoration: none
}

.footer_menu_item.fmi_social {
    padding-bottom: 80px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 480px;
    align-items: center
}

.footer_menu_item .footer_link[href*='/call-back-form.aspx'] {
    font-weight: 700
}

.footer_menu_item .SocialLinks {
    margin-bottom: 0px;
    display: grid;
    grid-template-rows: 16px 1fr;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start
}

.bottomlines {
    padding-top: 40px;
    margin-bottom: 24px;
    height: auto;
    display: grid;
    display: -ms-inline-grid;
    grid-template-columns: 256px 256px 1fr;
    -ms-grid-columns: 256px 32px 256px 32px 1fr;
    grid-column-gap: 32px
}

.convert_footer .bottomlines {
    -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 257px;
    grid-template-columns: 1fr 1fr 1fr 257px 1fr
}

.convert_footer .bottomlines.zh {
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.convert_footer .fmi_social {
    border-top: 1px solid #E2E2E2;
    -ms-grid-columns: 1fr 0 400px;
    grid-template-columns: 1fr 400px;
    padding-bottom: 60px;
    padding-top: 40px
}

.convert_footer .ListSocLink {
    margin-top: 16px;
    padding: 0
}

.convert_footer .ListSocLink li {
    height: 40px;
    padding-right: 16px;
    width: 40px
}

.convert_footer .ListSocLink li a {
    background-color: #F9F9F9;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: 40px
}

.convert_footer .ListSocLink li a.line,.convert_footer .ListSocLink li a.wechat {
    display: block;
    position: relative
}

.convert_footer .ListSocLink li .social_grey_line,.convert_footer .ListSocLink li .social_grey_wechat {
    left: 8px;
    position: relative;
    top: 8px
}

.convert_footer.zh li {
    padding-right: 8px
}

.convert_footer.zh li:last-child {
    padding-right: 0
}

.footer_menu:first-child {
    -ms-grid-column: 1
}

.footer_menu:nth-child(2) {
    -ms-grid-column: 3
}

.footer_menu:nth-child(3) {
    -ms-grid-column: 5
}

.footer_menu:last-child {
    -ms-grid-column: 7
}

footer h6 {
    padding: 0 0 14px
}

footer h6,.SocialLinks span {
    font-size: 12px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em
}

.bm_subblock {
    margin-top: 25px
}

.basement {
    background: #fff;
    width: 100%
}

.blubase {
    display: none
}

.defaultp {
    margin-top: -130px;
    position: relative;
    height: 150px
}

.langselector {
    right: 20px;
    position: absolute;
    top: 24px
}

.copyReserved {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    color: #444444;
    font-size: 12px;
    text-align: end;
    margin-bottom: 0px !important
}

.copyReserved p {
    line-height: 26px;
    width: 100%
}

span.underline {
    border-bottom: 1px dotted #838383;
    padding-bottom: 2px;
    color: #fff
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.clearBoth {
    clear: both
}

.tablet_view_only {
    display: none
}

.vertical-middle,input.vertical-middle {
    vertical-align: middle
}

.vertical-bottom,input.vertical-bottom {
    vertical-align: bottom
}

.greenText {
    color: #2D5007
}

.redText {
    color: #BF3703
}

.bigBlueText {
    color: #3d4a6b;
    font-size: 16px;
    font-weight: bold
}

.relative-block {
    position: relative
}

.inline-block {
    display: inline-block
}

.text-bold {
    font-weight: bold
}

.text-overflow {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis
}

.text-align-right {
    text-align: right
}

.textMediumDescribe {
    color: #999999;
    font-size: 13px
}

.textBigDescribe {
    color: #999999;
    font-size: 20px
}

.textBlueUppercase18 {
    color: #3D4A6B;
    font-size: 18px;
    text-transform: uppercase
}

.splitter {
    padding: 0 4px
}

.odd,.even {
    margin: 0;
    width: 689px;
    height: 51px;
    position: relative;
    font-size: 12px
}

.BaseFooter {
    height: 55px
}

.BaseFooter div {
    display: inline-block
}

.ListSocLink {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 12px 0 0;
    padding: 8px 0;
    row-gap: 16px
}

.ListSocLink li {
    list-style-type: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding-right: 32px;
    vertical-align: middle
}

.ListSocLink li:last-child {
    padding-right: 0
}

.ListSocLink li label {
    background-repeat: no-repeat;
    background-image: url(/static/images/color_social_icons.svg?ver=168);
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 24px;
    width: 24px;
    margin: 0;
    vertical-align: middle;
    background-position-y: 0
}

.ListSocLink li label:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.ListSocLink li label.social_grey_subscribe {
    background-position-x: -434px
}

.ListSocLink li label.social_grey_fb {
    background-position-x: 0
}

.ListSocLink li label.social_grey_twi {
    background-position-x: -40px
}

.ListSocLink li label.social_grey_in {
    background-position-x: -80px
}

.ListSocLink li label.social_grey_g {
    background-position-x: -79px
}

.ListSocLink li label.social_grey_tube {
    background-position-x: -120px
}

.ListSocLink li label.social_grey_blog {
    background-position-x: -200px
}

.ListSocLink li label.social_grey_medium {
    background-position-x: -240px
}

.ListSocLink li label.social_grey_instagram {
    background-position-x: -280px
}

.ListSocLink li label.social_grey_vk {
    background-position-x: -160px
}

.ListSocLink li label.social_grey_github {
    background-position-x: -320px
}

.ListSocLink li label.social_grey_fosstodon {
    background-position-x: -397px
}

.ListSocLink li label.social_grey_fosstodon:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.ListSocLink li label.social_grey_wechat {
    background-image: url(/static/images/logo_wechat.png);
    background-position-x: center;
    background-size: contain
}

.ListSocLink li label.social_grey_wechat:hover~.wechat_qr_code {
    opacity: 1;
    visibility: visible
}

.ListSocLink li label.social_grey_tiktok {
    background-image: url(/static/images/tiktok_footer.svg);
    background-position-x: center;
    background-size: contain
}

.ListSocLink li label.social_grey_tiktok:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.ListSocLink li label.social_grey_telegram {
    background-image: url(/static/images/telegram_footer.svg);
    background-position-x: center;
    background-size: contain
}

.ListSocLink li label.social_grey_telegram:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.ListSocLink li label.social_grey_line {
    background-image: url(/static/images/line.svg);
    background-position-x: center
}

.ListSocLink li label.social_grey_line:hover~.line_qr_code {
    opacity: 1;
    visibility: visible
}

.ListSocLink li label.social_grey_kuaishou {
    background-position-x: -554px
}

.ListSocLink li label.social_grey_xiaohongshu {
    background-position-x: -634px
}

.ListSocLink li label.social_grey_csdn {
    background-position-x: -674px
}

.ListSocLink li label.social_grey_toutiao {
    background-position-x: -594px
}

.ListSocLink li label.social_grey_bilibili {
    background-position-x: -714px
}

.ListSocLink li.wechat,.ListSocLink li.line {
    position: relative
}

.ListSocLink li.wechat .wechat_qr_code,.ListSocLink li.line .line_qr_code {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #333;
    font-size: 13px;
    left: -80px;
    letter-spacing: 0.02em;
    margin: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    box-shadow: 0 0 14px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 14px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.55s opacity,0.55s visibility;
    visibility: hidden;
    width: 160px
}

.ListSocLink li.wechat .wechat_qr_code {
    background-image: url(/static/images/qrcode_for_wechat.jpg);
    height: 218px;
    top: -300px
}

.ListSocLink li.line .line_qr_code {
    background-image: url(/static/images/qr-code-line.png);
    height: 160px;
    top: -242px
}

.viewport .pager {
    margin: 0 0 0 5px;
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 600px
}

.viewport .pagenum {
    color: #D45B47;
    display: block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 0 0 0 11px
}

.viewport .pagenum .page-icon {
    background-color: #fff;
    display: inline-block;
    margin-right: 2px;
    border: 2px solid #D76048;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    height: 7px;
    width: 7px
}

.viewport .pagenum.active .page-icon {
    background-color: #D76048
}

.viewport .overview a p,.viewport .overview a:hover p,.viewport .overview a:active p,.viewport .overview a:visited p {
    text-decoration: none
}

body>div.loadingBanner {
    background: url("/static/images/loaders/loader_32.gif") no-repeat scroll 13px 50% #FFFFFF;
    border: 1px solid #CACACA;
    font-size: 13px;
    color: #999999;
    cursor: wait;
    left: 50%;
    top: 97px;
    min-width: 80px;
    max-width: 1024px;
    height: 36px;
    position: fixed;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    margin-left: -100px;
    padding: 6px 15px 6px 55px;
    line-height: 36px;
    z-index: 2011;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

body>div.loadingBanner div {
    display: inline-block;
    margin-left: 6px;
    font-size: 13px
}

.loading,.loading * {
    cursor: wait !important
}

.companydata.inline-block {
    float: left;
    margin-right: 50px
}

html.noscroll {
    overflow-y: hidden
}

body#signuppage.desktop .mainpart,body#signuppage.pid .mainpart {
    padding: 0
}

body#signuppage.desktop header,body#signuppage.pid header,body#signuppage.desktop .basement,body#signuppage.pid .basement,body#signuppage.desktop .advent-announce,body#signuppage.pid .advent-announce,body#signuppage.desktop .mainpart .cookie_mess,body#signuppage.pid .mainpart .cookie_mess {
    display: none
}

body#signuppage.desktop .innerblue,body#signuppage.pid .innerblue {
    width: 100%;
    min-width: 302px
}

body#signuppage.desktop .description,body#signuppage.pid .description {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    position: relative
}

body#signuppage.desktop h1.h1mid+p,body#signuppage.pid h1.h1mid+p {
    margin-bottom: -24px;
    padding: 24px 0 0
}

body#signuppage.desktop .signuppageform,body#signuppage.pid .signuppageform {
    margin: 0 auto;
    width: max-content;
    padding-top: 16px;
    position: relative
}

body#signuppage.desktop .signuppageform .dataForm.formSteps,body#signuppage.pid .signuppageform .dataForm.formSteps {
    margin-bottom: 64px
}

body#signuppage.desktop .signuppageform .dataForm.formSteps div.step .dataItem input,body#signuppage.pid .signuppageform .dataForm.formSteps div.step .dataItem input {
    outline: none
}

body#signuppage.desktop #launcher,body#signuppage.pid #launcher,body#signuppage.desktop #webWidget,body#signuppage.pid #webWidget,body#signuppage.desktop .zopim,body#signuppage.pid .zopim {
    display: none !important
}

@media screen and (max-width: 1440px) {
    .logo {
        width:32px
    }

    .logo a {
        width: 32px
    }
}

@media screen and (max-width: 1199px) {
    .bottomlines {
        grid-template-columns:208px 208px 1fr;
        -ms-grid-columns: 208px 32px 208px 32px 1fr
    }

    .convert_footer .footer_bottom_part {
        -webkit-column-gap: 32px;
        -moz-column-gap: 32px;
        column-gap: 32px;
        grid-column-gap: 32px;
        -ms-grid-columns: 0.8fr 32px 1fr;
        grid-template-columns: 0.8fr 1fr
    }

    .convert_footer .footer_menu_item.fmi_social {
        grid-template-columns: 1fr 250px
    }

    .convert_footer .ListSocLink li {
        padding-right: 18px
    }

    .convert_footer .ListSocLink li:last-child {
        padding-right: 0
    }

    .convert_footer .narrowfooter {
        max-width: calc(100% - 96px)
    }

    .footer_menu_item.fmi_social {
        grid-template-columns: 1fr 288px
    }

    .narrowfooter {
        max-width: 928px
    }

    .search-button {
        width: 32px;
        right: 115px
    }
}

@media screen and (max-width: 1023px) {
    body#signuppage.desktop .signuppageform .dataForm.formSteps {
        height:auto
    }

    .search-box-container {
        bottom: 48px;
        top: auto;
        bottom: 0;
        position: relative
    }

    .search-button {
        background-image: url(/static/images/landing/market-place/search-button.svg);
        height: 48px;
        position: absolute;
        top: 0;
        right: 27px
    }

    .signuppage .dataForm.formSteps p.stepCounter {
        top: 139px !important
    }

    article {
        margin-top: -49px;
        padding-top: 97px;
        top: -49px
    }

    .bottomlines {
        margin-bottom: 24px
    }

    .convert_footer .copyReserved {
        margin-top: 32px !important
    }

    .convert_footer .footer_menu_item.fmi_social {
        padding-bottom: 64px
    }

    .convert_footer .narrowfooter {
        max-width: calc(100% - 80px)
    }

    .copyReserved {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
        margin-top: 40px !important
    }

    .copyReserved p {
        width: auto
    }

    footer {
        z-index: 0
    }

    .footer_menu_item.fmi_social {
        display: block;
        padding-bottom: 40px
    }

    .footer_menu_item .SocialLinks {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .langselector {
        top: 15px
    }

    .narrowfooter {
        max-width: 688px;
        margin-bottom: 0;
        vertical-align: top;
        min-width: unset
    }

    .SocialLinks span {
        text-align: center
    }

    .no_tablet_view {
        display: none
    }

    .tablet_view_only {
        display: block
    }
}

.advent-announce {
    background: linear-gradient(90deg,#2183A6 -20.49%,#1D4350 54.81%);
    height: 56px;
    left: 0;
    top: 0;
    padding: 0;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1001
}

.advent-announce a {
    overflow: hidden;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left,right
}

.advent-announce .advent-announce-text {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 400;
    line-height: 19px;
    margin: 0 auto;
    padding-left: 85px;
    position: relative;
    text-align: center;
    width: max-content;
    max-width: 588px;
    height: 100%;
    text-decoration: none !important;
    z-index: 0
}

.advent-announce .advent-announce-text:after,.advent-announce .advent-announce-text:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute
}

.advent-announce .advent-announce-text:before {
    background-image: url(/static/images/banner/docspace_2.6.svg);
    width: 82px;
    height: 82px;
    left: -4px;
    top: -7px
}

.advent-announce .advent-announce-text:after {
    background-image: url(/static/images/banner/banner_icon.svg);
    width: 23px;
    height: 23px;
    right: -4px;
    top: 50%;
    transform: translateY(-50%)
}

.advent-announce .advent-announce-text .arrow-space {
    flex-shrink: 0;
    width: 28px
}

.advent-announce .advent-announce-text span {
    font-weight: 700;
    color: #07D9CA
}

.advent-announce .advent-announce-text strong {
    color: white
}

.advent-announce.fr .advent-announce-text {
    max-width: 548px
}

.advent-announce.es .advent-announce-text {
    max-width: 550px
}

.advent-announce.it .advent-announce-text {
    max-width: 560px
}

.advent-announce.pt .advent-announce-text {
    max-width: 600px
}

.advent-announce.ru .advent-announce-text {
    max-width: 562px
}

.advent-announce.zh .advent-announce-text {
    line-height: 20px;
    max-width: 598px
}

.advent-desktop-hide {
    display: none
}

@media screen and (max-width: 1023px) {
    .advent-announce {
        display:block;
        height: 48px
    }

    .advent-announce a {
        background-position: right
    }

    .advent-announce a::after {
        display: none
    }

    .advent-announce a::before {
        height: 48px;
        left: -80px
    }

    .advent-announce .advent-announce-text {
        padding-left: 0;
        padding-right: 34px;
        font-weight: 700
    }

    .advent-announce .advent-announce-text:before {
        content: none
    }

    .advent-announce .advent-announce-text:after {
        right: 0
    }

    .advent-announce .advent-announce-text br {
        display: none
    }

    .advent-announce .advent-announce-text p {
        max-width: 202px
    }

    .advent-announce.advent-mobile-hide {
        display: none
    }

    .advent-announce.es .advent-announce-text p,.advent-announce.ru .advent-announce-text p,.advent-announce.zh .advent-announce-text p {
        line-height: 20px;
        max-width: none
    }

    .advent-announce.ja .advent-announce-text p {
        max-width: 198px
    }
}

@media screen and (max-width: 969px) {
    .convert_footer .footer_apps_item {
        padding:60px 16px 12px !important;
        background-position: center 12px !important
    }

    .convert_footer .bottomlines {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .convert_footer .bottomlines .tablet-view {
        display: flex;
        gap: 40px;
        justify-content: space-between
    }

    .convert_footer .bottomlines .tablet-view:last-child {
        grid-column: span 4
    }
}

@media screen and (max-width: 829px) {
    .ListSocLink li.line .line_qr_code {
        left:-157px
    }
}

@media screen and (max-width: 799px) {
    .ListSocLink li.wechat .wechat_qr_code {
        left:-120px
    }
}

@media screen and (max-width: 623px) {
    .convert_footer .footer_apps_item {
        background-color:transparent !important;
        padding: 0 !important;
        width: 42px;
        height: 40px;
        background-position: center !important
    }

    .convert_footer .footer_apps_item span {
        display: none !important
    }
}

@media screen and (max-width: 600px) {
    .convert_footer .bottomlines {
        display:block;
        -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important
    }

    .convert_footer .bottomlines .tablet-view {
        display: block
    }

    .convert_footer .fmi_social {
        border-top: none
    }

    .convert_footer .ListSocLink {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 16px
    }

    .convert_footer .ListSocLink li {
        padding-right: 0
    }

    .convert_footer .narrowfooter {
        max-width: calc(100% - 32px)
    }

    footer.ja .ListSocLink,footer.ru .ListSocLink,footer.zh .ListSocLink {
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }

    footer h6,.SocialLinks span {
        color: #444444
    }

    .footer_menu {
        padding: 0
    }

    .footer_menu_item {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #CCCCCC;
        padding: 6px 0 5px
    }

    .footer_menu_item .copyReserved {
        margin-bottom: 16px
    }

    .footer_menu_item h6 {
        padding: 14px 0;
        position: relative;
        cursor: pointer
    }

    .footer_menu_item h6:after {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        background-image: url(/static/images/arrow-gray.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        position: absolute;
        right: 0;
        top: 17px;
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear
    }

    .footer_menu_item h6.collapsed:after {
        transform: rotate(90deg)
    }

    .footer_menu_item h6.expanded:after {
        transform: rotate(270deg)
    }

    .footer_menu_item>div {
        display: none;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 12px
    }

    .footer_menu_item>div:first-of-type {
        margin-top: 14px
    }

    .footer_menu_item.fmi_social {
        border-bottom: 0
    }

    .footer_menu_item.fmi_social h6 {
        cursor: default
    }

    .footer_menu_item.fmi_social>div {
        display: block
    }

    .ListSocLink {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 20px;
        -webkit-column-gap: 28px;
        -moz-column-gap: 28px;
        column-gap: 28px;
        gap: 20px 28px;
        margin-top: 32px
    }

    .ListSocLink li {
        padding-right: 0
    }

    .narrowfooter {
        padding: 0 16px
    }

    .narrowfooter .bottomlines {
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto auto;
        margin-bottom: 0;
        padding-top: 8px;
        width: 100%
    }

    .narrowfooter .bottomlines .footer_menu:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1
    }

    .narrowfooter .bottomlines .footer_menu:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2
    }

    .narrowfooter .bottomlines .footer_menu:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3
    }

    .narrowfooter .bottomlines .footer_menu:last-child {
        -ms-grid-column: 1;
        -ms-grid-row: 4
    }

    .SocialLinks span {
        display: none;
        padding: 28px 0
    }

    .no_tablet_view {
        display: block
    }

    .tablet_view_only {
        display: none
    }
}

@media screen and (max-width: 592px) {
    .ListSocLink li.line .line_qr_code {
        left:-150px
    }

    .ListSocLink li.wechat .wechat_qr_code {
        left: -168px
    }

    body#signuppage.desktop h1.h1mid+p {
        margin-bottom: -16px;
        padding-top: 16px
    }
}

@media screen and (max-width: 551px) {
    .ListSocLink li.wechat .wechat_qr_code {
        left:calc(19vw - 100px)
    }
}

@media screen and (max-width: 539px) {
    footer.ja .ListSocLink,footer.ru .ListSocLink,footer.zh .ListSocLink {
        -webkit-column-gap:24px;
        -moz-column-gap: 24px;
        column-gap: 24px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    footer.ja .ListSocLink {
        position: relative
    }

    .ListSocLink li.line .line_qr_code {
        left: calc(50% - 100px);
        position: absolute;
        top: -220px
    }
}

@media screen and (max-width: 479px) {
    .ListSocLink {
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .ListSocLink li.line .line_qr_code {
        left: calc(50% - 168px)
    }

    .advent-announce-text br {
        display: block !important
    }
}

@media screen and (max-width: 391px) {
    .ListSocLink li.wechat .wechat_qr_code {
        left:-80px
    }
}

@media screen and (max-width: 327px) {
    .ListSocLink li.wechat .wechat_qr_code {
        left:-32px
    }
}
