body#defaultpage {
    color: #333333;
}
body#defaultpage .mainpart {
    padding-bottom: 0;
}
body#defaultpage article {
    background-image: url(/static/images/mainpage/bg.svg);
    background-repeat: no-repeat;
    background-position: 58% -900px
}
body#defaultpage header {
    background: transparent;
    border-bottom-color: transparent;
}
body#defaultpage .dp-first-screen {
    background-image: url(../images/mainpage/dp-main-pic.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1280px auto;
    background-position-y: 80%;
}
body#defaultpage .dp-first-screen .dp-top-block {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 985px;
    text-align: center;
    width: 1200px;
}
body#defaultpage article h1, body#defaultpage article h2, body#defaultpage article h3, body#defaultpage article h4, body#defaultpage article h5, body#defaultpage article h6 {
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    max-width: 90vw;
}
body#defaultpage .dp-first-screen .dp-top-block h1 {
    font-size: 64px;
    letter-spacing: -0.03em;
    line-height: 1.2em;
}
body#defaultpage .orangetext {
    color: #FF6F3D;
}
body#defaultpage .dp-d-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 16px;
    padding: 40px 0 96px;
}
body#defaultpage .dp-d-btns .button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.08em;
    line-height: 16px;
    padding: 20px;
}
body#defaultpage .dp-d-btns .button.orange-button {
    background: #FF6F3D;
    min-width: 136px;
}
body#defaultpage .dp-d-btns .button.orange-button:hover {
    background: #FF865C;
}
body#defaultpage .dp-d-btns .button.gray-button {
    background: #444444;
    min-width: 174px;
}
body#defaultpage .dp-d-btns .button.gray-button:hover {
    background: #666666;
}
body#defaultpage .dp-main {
    margin: 0 auto;
    padding: 60px 0 0;
}
body#defaultpage .dp-main .dp-m-bg .dp-m {
    margin: 0px auto;
    padding: 112px 0;
    position: relative;
    width: 1680px;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside {
    padding: 148px 280px 128px 952px;
    width: 448px;
}
body#defaultpage article h2 {
    line-height: 1.33em;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside h2 {
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 1.33em;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside h2 {
    text-align: left;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside .m-deskripsi {
    padding: 32px 0;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside .m-deskripsi p{
    text-align: justify;
}
.sb_text {    
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img {
    background-repeat: no-repeat;
    background-size: 1200px auto;
    content: "";
    display: block;
    position: absolute;
    height: 860px;
    left: -280px;
    top: 90px;
    width: 1200px;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img.main {
    background-image: url(../images/mainpage/dp-mp-portofolio.webp);
}
body#defaultpage .dp-main .dp-m-bg.grey {
    background-color: #F9F9F9;
} 
body#defaultpage .dp-main .dp-m-bg .dp-m.right .dp-m-inside {
    padding: 120px 952px 120px 280px;
}
body#defaultpage .dp-main .dp-m-bg.grey .dp-m.right .dp-m-inside {
    padding-top: 120px;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img {
    background-repeat: no-repeat;
    background-size: 1200px auto;
    content: "";
    display: block;
    position: absolute;
    height: 600px;
    left: -280px;
    top: 90px;
    width: 1200px;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img.right {
    left: 46%;
}
body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img.layanan {
    background-image: url(../images/mainpage/dp-mp-layanan.webp);
}
.working_process {
    /* background: linear-gradient(180deg, #F8F9F9 43.75%, rgba(248, 249, 249, 0) 100%), #FFFFFF; */
    background-image: url(../images/mainpage/bg-wp.png);
    padding: 112px 0;
}
.working_process_wrapper {
    max-width: 1120px;
    margin: 0 auto;
}
.working_process h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.33em;
    padding-bottom: 72px;
    text-align: center;
}
.working_process .process_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.working_process .p_block {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    color: #666666;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    text-align: center;
    -webkit-transition: -webkit-box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    /* cursor: pointer; */
}
.working_process .p_block .pb_img {
    padding-bottom: 85.23%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    background-color: #F3F4F4;
    border: 1px solid #FF6F3D;
    border-radius: 6px;
}
.p_block .process_number {
    position: absolute;
    left: 35px;
    top: 30px;
    width: 70px;
    height: 70px;
    z-index: 1;
    color: #ffffff;
    font-size: 24px;
    line-height: 70px;
    font-weight: 700;
    border-radius: 50px;
    display: inline-block;
    background-color: #FF6F3D;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.p_block .process_deskripsi {
    position: absolute;
    left: 0px;
    top: 200px;
    width: 336px;
    z-index: 1;
    color: #2d2d2d;
    font-size: 24px;
    line-height: 70px;
    font-weight: 700;
    display: inline-block;
}
.process_deskripsi h3 {
    margin: 0px auto;
}
.working_process .p_block .pb_kebutuhan {
    background-image: url(../images/svg/account-manage-personal.svg);
}
.working_process .p_block .pb_analisa {
    background-image: url(../images/svg/branding.svg);
}
.working_process .p_block .pb_solusi {
    background-image: url(../images/svg/communication-letter-mail.svg);
}
@media screen and (max-width: 1440px) {
    body#defaultpage .dp-main .dp-m-bg .dp-m {
        width: 1024px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside {
        padding: 150px 32px 128px 53%;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img {
        left: -680px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m.right .dp-m-inside {
        padding: 200px 53% 90px 32px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img {
        left: -680px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img.right {
        left: 46%;
    }
}
@media screen and (min-width: 1024px) {
    body#defaultpage #navitem_produk, 
    body#defaultpage #navitem_solusi, 
    body#defaultpage #navitem_layanan, 
    body#defaultpage #navitem_media, 
    body#defaultpage #navitem_portofolio {
        border-bottom-color: transparent;
    }
    body#defaultpage article {
        background-position: 53% -780px;
    }
}
@media screen and (max-width: 1200px) {
    body#defaultpage .dp-first-screen .dp-top-block {
        width: 90vw;
    }   
}
@media screen and (max-width: 1024px) {
    body#defaultpage .dp-first-screen {
        background-size: 100vw;
        background-position-y: 100%;
    }
    body#defaultpage .dp-first-screen .dp-top-block {
        min-height: 860px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m {
        width: 100%;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside {
        padding: 0 48px;
        width: 80vw;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img {
        background-size: 688px auto;
        height: 470px;
        margin: 0 auto;
        left: unset;
        position: initial;
        text-align: center;
        width: 688px;
    }
    body#defaultpage .dp-main .dp-m-bg.grey .dp-m.right .dp-m-inside {
        padding-top: 0;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img {
        background-size: 688px auto;
        height: 470px;
        margin: 0 auto;
        left: unset;
        position: initial;
        text-align: center;
        width: 688px;
    }
}
@media screen and (max-width: 768px) {
    body#defaultpage article {
        background-position: 55% -700px;
    }
    body#defaultpage .dp-first-screen {
        background-position-y: 80%;
    }
    body#defaultpage .dp-first-screen .dp-top-block {
        min-height: 720px;
    }
    body#defaultpage .dp-first-screen .dp-top-block h1 {
        font-size: 48px;
    }
    body#defaultpage .dp-d-btns {
        padding: 40px 0 56px;
    }
    body#defaultpage .dp-main {
        padding: 56px 0 0;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m {
        padding: 88px 0;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside {
        padding: 0 40px;
        width: calc(100% - 80px);
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside h2 {
        font-size: 36px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img {
        background-size: 592px auto;
        background-position: center;
        height: 400px;
        width: 90vw;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img {
        background-size: 592px auto;
        background-position: center;
        height: 400px;
        width: 90vw;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img.layanan {
        background-size: 600px auto;
    }
    .working_process h2 {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 32px;
    }
    .working_process {
        padding: 48px 0;
    }
}
body#defaultpage .dp-first-screen .dp-top-block h1 {
    margin: 0 auto;
    padding-top: 72px;
    width: 948px
}
@media screen and (max-width: 1200px) {    
    body#defaultpage .dp-first-screen .dp-top-block h1, 
    body#defaultpage .dp-first-screen .dp-top-block h3 {
        width: 90vw;
    }
}
@media screen and (max-width: 592px) {
    body#defaultpage article {
        background-position: 42% -800px;
    }
    body#defaultpage .dp-first-screen .dp-top-block {
        min-height: 595px;
    }
    body#defaultpage .dp-first-screen .dp-top-block h1 {
        font-size: 30px;
        letter-spacing: -0.02em;
    }
    body#defaultpage .dp-first-screen .dp-top-block h1 {
        padding-top: 48px;
    }
    body#defaultpage .dp-d-btns {
        padding: 32px 0;
    }
    body#defaultpage .dp-d-btns .button.orange-button {
        margin-bottom: 0;
    }
    body#defaultpage .dp-d-btns .button {
        font-size: 11px;
        margin-bottom: 16px;
        padding: 16px;
        width: 90vw;
    }
    body#defaultpage .dp-main {
        padding-top: 18px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m {
        padding: 48px 0 0;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside {
        padding: 0 24px;
        width: calc(100% - 48px);
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .dp-m-inside h2 {
        font-size: 24px;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img {
        background-size: contain;
        height: 70vw;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m.right .dp-m-inside {
        padding: 0 24px;
        width: calc(100% - 48px);
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img {
        background-size: contain;
        height: 70vw;
    }
    body#defaultpage .dp-main .dp-m-bg .dp-m .doc-img.layanan {
        background-size: contain;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 120dpi) {
    body#defaultpage .dp-main .dp-m-bg .dp-m .spd-img.main {
        background-image: url(../images/mainpage/dp-mp-portofolio.webp);
    }
}
