body#defaultpage {
    color: #333333;
}

body#defaultpage .mainpart {
    padding-bottom: 0;
}

body#defaultpage article {
    background-image: url(/static/images/mainpage/bg.svg);
    background-repeat: no-repeat;
    background-position: 58% -900px
}

body#defaultpage header {
    background: transparent;
    border-bottom-color: transparent;
}

nav ul {
    list-style: none;
}

