@media screen and (max-width: 1023px) {
    html {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    
    body, .innerblue {
        width: auto;
    }

    body {
        min-width: 320px;
    }

    .site-overlay {
        display: none;
    }

    header {
        width: 100%;
        padding: 0;
        z-index: 10000;
        height: 48px;
    }

    header.overlayed {
        border-bottom-color: rgba(0, 0, 0, 0.27);
    }

    .narrowheader {
        width: 100%;
    }

    .narrowheader.overlayed {
        background-color: rgba(0, 0, 0, 0.27);
    }

    .narrowheader .logo {
        margin-left: auto;
        margin-right: auto;
        z-index: 10000000;
        height: 48px;
        background-size: auto 28px;
        width: 152px;
    }

    .narrowheader .logo a {
        height: 48px;
    }

    .ham_menu {
        cursor: pointer;
        display: block;
        height: 18px;
        left: 0;
        margin: 0;
        padding: 16px;
        position: absolute;
        top: 1px;
        width: 30px;
        z-index: 10000000;
    }

    .ham_menu span {
        background-color: #444444;
        display: block;
        height: 2px;
        margin: 0 0 4px;
        width: 20px;
    }

    nav {
        padding: 0;
        width: auto;
        text-align: left;
    }
}