@media screen and (min-width: 1024px) {
    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi:before, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis:before, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor:before,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_messageapi:before {
        top: 12px;
        left: 12px;
    }
}

header a.dropdown-item:before, 
div.dropdown-item:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 0px;
    background-image: url(../images/menu_icons.svg);
    background-repeat: no-repeat;
}

#navitem_produk_medis:before {
    background-position-y: -1170px;
}

#navitem_produk_kantor:before {
    background-position-y: -26px;
}

#navitem_fb_kontak:before {
    background-position-y: -1405px;
}

#navitem_fb_sofware_development:before {
    background-image: url(../images/development-cognitive.svg);
}

#navitem_fb_konsul:before {
    background-image: url(../images/networking-connector.svg);
}

#navitem_fb_iot:before {
    background-image: url(../images/iot-platform.svg);
}

#navitem_sign_in_masuk:before {
    background-image: url(../images/sign-in.svg);
}

#navitem_sign_in_daftar:before {
    background-image: url(../images/address-book.svg);
}

#produk_akuntansi:after, 
#produk_medis:after, 
#produk_kantor:after,
#produk_messageapi:after,
#navitem_produk_aplikasi_akutansi:after {
    content: "";
    display: block;
    height: 8px;
    width: 5px;
    background-image: url(../images/arrow-light-gray.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5px;
    margin-left: 8px;
    transform: none !important;
}

#produk_akuntansi:hover:after, 
#produk_medis:hover:after, 
#produk_kantor:hover:after,
#produk_messageapi:hover:after,
#navitem_produk_aplikasi_akutansi:hover:after {
    background-image: url(../images/arrow-light-orange.svg);
}

#produk_akuntansi:before, 
#produk_medis:before, 
#produk_kantor:before,
#produk_messageapi:before,
#navitem_produk_aplikasi_akutansi:before,
#navitem_fb_perangkatlunak:before,
#navitem_fb_perangkatkeras:before,
#navitem_sign_in:before {
    display: none;
}

header a.dropdown-item, 
div.dropdown-item {
    display: block;
    border: 0;
    color: #444444;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 700;
    cursor: pointer;
    line-height: 24px;
    margin: 0 0 16px;
    padding: 0 16px 0 60px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

header a.dropdown-item:hover, 
div.dropdown-item:hover {
    color: #FF6F3D;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

header a.dropdown-item:last-of-type, 
div.dropdown-item:last-of-type {
    margin-bottom: 0;
}

#produk_akuntansi, 
#produk_medis, 
#produk_kantor,
#navitem_produk_aplikasi_akutansi,
#navitem_fb_perangkatlunak,
#navitem_fb_perangkatkeras,
#navitem_sign_in {
    align-items: end;
    border-radius: 3px;
    box-sizing: border-box;
    color: #808080;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.3em;
    line-height: 1.33em;
    margin: 0 16px 12px;
    padding: 0;
    text-transform: uppercase;
}

#navitem_sign_in {
    margin: 0px 32px 16px 32px;
    min-width: 190px;
}

#produk_akuntansi, 
#produk_medis, 
#produk_kantor,
#navitem_produk_aplikasi_akutansi {
    align-items: center;
    cursor: pointer;
    white-space: normal;
}

#produk_akuntansi:hover, 
#produk_medis:hover, 
#produk_kantor:hover, 
#produk_messageapi:hover,
#navitem_produk_aplikasi_akutansi:hover,
#navitem_sign_in:hover {
    cursor: default;
}

#produk_akuntansi:hover, 
#produk_medis:hover, 
#produk_kantor:hover, 
#produk_messageapi:hover,
#navitem_produk_aplikasi_akutansi:hover {
    cursor: pointer;
    color: #FF6F3D;
}

nav {
    height: 52px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

nav>div>ul, 
nav>div>ul>li {
    display: inline-block;
    list-style-type: none;
}

nav>div>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 52px;
    display: inline-block;
    position: relative;
}

nav>div>ul>li {
    padding: 0;
    margin: 0;
    height: 52px;
}

nav>div>ul>li>a {
    padding: 17px 0;
    display: inline-block;
    height: 29px;
    border-bottom-color: #FF6F3D;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

nav>div>ul.all-menu-items {
    display: grid;
    display: -ms-grid;
    justify-content: center;
    grid-template-columns: min-content min-content min-content min-content min-content;
    -ms-grid-columns: auto 32px auto 32px auto 32px auto 32px auto 32px;
    grid-gap: 20px;
    width: 100%;
}

nav>div>ul li:first-child {
    -ms-grid-column: 1;
}

nav>div>ul li:nth-child(2) {
    -ms-grid-column: 3;
}

nav>div>ul li:nth-child(3) {
    -ms-grid-column: 5;
}

nav>div>ul li:nth-child(4) {
    -ms-grid-column: 7;
}

nav>div>ul li:nth-child(5) {
    -ms-grid-column: 9;
}

nav .pushy-content {
    margin: 0 auto;
    max-width: 920px;
    width: 72vw;
}

.menuitem {
    white-space: nowrap;
}

nav .active {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#navitem_produk_menu {
    left: calc(50% - 455px);
}

.nav_item_link:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 0px;
    background-image: url(../images/menu_icons.svg?ver=190);
    background-repeat: no-repeat;
}

.nav_item_link {
    position: relative;
}

#navitem_produk_submenu_part1:before, #navitem_produk_submenu_part1_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part2:before, #navitem_produk_submenu_part2_ds:before {
    background-position-y: -1926px;
}

#navitem_produk_submenu_part3:before, #navitem_produk_submenu_part3_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part4:before, #navitem_produk_submenu_part4_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part5:before, #navitem_produk_submenu_part5_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part6:before, #navitem_produk_submenu_part6_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part7:before, #navitem_produk_submenu_part7_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part8:before, #navitem_produk_submenu_part8_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part9:before, #navitem_produk_submenu_part9_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part10:before, #navitem_produk_submenu_part10_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part11:before, #navitem_produk_submenu_part11_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part12:before, #navitem_produk_submenu_part12_ds:before {
    background-position-y: -1769px;
}

#navitem_produk_submenu_part13:before, #navitem_produk_submenu_part13_ds:before {
    background-position-y: -1769px;
}

.signin_wrapper {
    position: absolute;
    right: 55px;
    top: 0;
    left: auto;
    bottom: auto;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.signin_wrapper .signin {
    margin-right: 0;
    padding: 0;
}

#navitem_sign_in_header {
    display: inline-block;
    padding: 0;
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/login-circle.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px auto;
    line-height: 29px;
    margin: 0;
    padding: 14px 12px 13px;
    position: initial;
    font-size: 0;
}

#navitem_sign_in_header:hover {
    background-image: url(../images/login-circle-orange.svg);
}

@media screen and (min-width: 1500px) {
    nav .pushy-content {
        max-width: 1120px;
    }

    nav>div>ul.all-menu-items {
        grid-gap: 50px;
    }

    nav>div>ul.all-menu-items {
        grid-gap: 3vw;
    }
}

@media screen and (max-width: 1280px) {
    nav>div>ul.all-menu-items {
        grid-gap: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .signin_wrapper {
        right: 50px;
    }
}

@media screen and (min-width: 1024px) {
    #navitem_produk, 
    #navitem_solusi, 
    #navitem_layanan, 
    #navitem_media, 
    #navitem_portofolio {
        border-bottom: 1px solid #d9d9d9;
    }

    #navitem_produk_menu:after, 
    #navitem_solusi_menu:after, 
    #navitem_layanan_menu:after, 
    #navitem_media_menu:after, 
    #navitem_portofolio_menu:after,
    #navitem_signin_menu:after {
        display: block;
        position: absolute;
        width: 0;
        content: "";
        height: 1px;
        background-color: #FF6F3D;
        transition: width 0.2s ease-in-out;
        left: 50%;
        top: 0;
    }

    #navitem_produk_menu.top_border:after, 
    #navitem_solusi_menu.top_border:after, 
    #navitem_layanan_menu.top_border:after, 
    #navitem_media_menu.top_border:after, 
    #navitem_portofolio_menu.top_border:after,
    #navitem_signin_menu.top_border:after {
        width: 50%;
    }

    #navitem_produk_menu:before, 
    #navitem_solusi_menu:before, 
    #navitem_layanan_menu:before, 
    #navitem_media_menu:before, 
    #navitem_portofolio_menu:before,
    #navitem_signin_menu:before {
        display: block;
        position: absolute;
        width: 0;
        content: "";
        height: 1px;
        background-color: #FF6F3D;
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        left: 50%;
        top: 0;
    }

    #navitem_produk_menu.top_border:before, 
    #navitem_solusi_menu.top_border:before, 
    #navitem_layanan_menu.top_border:before, 
    #navitem_media_menu.top_border:before, 
    #navitem_portofolio_menu.top_border:before,
    #navitem_signin_menu.top_border:before {
        width: 50%;
        left: 0;
    }

    #navitem_produk_menu, 
    #navitem_solusi_menu, 
    #navitem_layanan_menu, 
    #navitem_media_menu, 
    #navitem_portofolio_menu,
    #navitem_signin_menu {
        display: none;
        position: absolute;
        z-index: 1999;
        border: 0 none;
        top: 52px;
        overflow: hidden;
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0 20px 50px rgba(85, 85, 85, 0.15);
        -moz-box-shadow: 0 20px 50px rgba(85, 85, 85, 0.15);
        -webkit-box-shadow: 0 20px 50px rgba(85, 85, 85, 0.15);
    }

    #navitem_solusi_menu {
        min-width: 312px;
    }

    #navitem_signin_menu {
        right: 0;
        left: unset;
    }

    #navitem_produk_menu .dropdown-content, 
    #navitem_solusi_menu .dropdown-content, 
    #navitem_layanan_menu .dropdown-content, 
    #navitem_media_menu .dropdown-content, 
    #navitem_portofolio_menu .dropdown-content,
    #navitem_signin_menu .dropdown-content {
        list-style-type: none;
        margin: 0;
        display: block;
        min-width: 190px;
        background: #fff;
        text-align: left;
    }

    #navitem_produk_menu .dropdown-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        width: 940px;
    }

    #navitem_solusi_menu .dropdown-content {
        display: flex;
        flex-wrap: wrap;
        width: 624px;
    }

    #navitem_produk_menu .dropdown-content>li, 
    #navitem_solusi_menu .dropdown-content>li, 
    #navitem_layanan_menu .dropdown-content>li, 
    #navitem_media_menu .dropdown-content>li, 
    #navitem_portofolio_menu .dropdown-content>li,
    #navitem_signin_menu .dropdown-content>li {
        display: block;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

    #navitem_produk_menu .dropdown-content>li, 
    #navitem_solusi_menu .dropdown-content>li, 
    #navitem_layanan_menu .dropdown-content>li, 
    #navitem_media_menu .dropdown-content>li, 
    #navitem_portofolio_menu .dropdown-content>li,
    #navitem_signin_menu .dropdown-content>li {
        display: table-cell;
        padding: 32px 0;
    }

    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi:after, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis:after, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor:after,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_messageapi:after {
        content: "";
        display: block;
        height: 100%;
        width: 24px;
        background-image: url(../images/arrow-gray.svg);
        background-position: center;
        background-repeat: no-repeat;
        top: 0px;
        right: 4px;
        position: absolute;
    }

    #navitem_produk_menu .dropdown-content>li {
        flex-basis: 32%;
        box-sizing: border-box;
    }

    #navitem_produk_menu .dropdown-content li:first-child {
        min-width: 312px;
        max-width: 312px;
    }

    #navitem_produk_menu .dropdown-content>li:first-of-type {
        min-width: 312px;
        max-width: 312px;
    }

    #navitem_produk_menu .dropdown-content>li:nth-of-type(2)>div {
        display: flex;
    }

    #navitem_produk_menu .dropdown-content>li:nth-of-type(2)>div>div {
        min-width: 312px;
        max-width: 312px;
    }

    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_messageapi {
        margin: 0 0 12px 24px;
        padding: 12px 32px 12px 48px;
        border-radius: 6px;
    }

    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi.selected, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis.selected, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor.selected,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_messageapi.selected {
        color: #FF6F3D;
        background-color: #F5F5F5;
    }

    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi .produk_info, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis .produk_info, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor .produk_info,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_messageapi .produk_info {
        color: #333;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 400;
        white-space: normal;
    }

    #navitem_produk_menu .dropdown-content>li #navitem_produk_akuntansi_mobile, 
    #navitem_produk_menu .dropdown-content>li #navitem_produk_medis_mobile,
    #navitem_produk_menu .dropdown-content>li #navitem_produk_kantor_mobile {
        display: none;
    }

    #navitem_solusi_menu .dropdown-content .pushy-link a.dropdown-item {
        margin-bottom: 12px;
    }

    #navitem_solusi_menu .dropdown-content #navitem_fb_perangkatlunak, 
    #navitem_solusi_menu .dropdown-content #navitem_fb_perangkatkeras {
        margin: 0 24px 12px;
    }
    
    #navitem_solusi_menu .dropdown-content>li:first-of-type:before {
        content: "";
        display: block;
        height: calc(100% - 128px);
        width: 1px;
        background-color: #ebebeb;
        position: absolute;
        top: 32px;
        left: 312px;
    }

    #navitem_solusi_menu .dropdown-content .pushy-link {
        width: 288px;
        padding: 24px 0;
    }

    #navitem_solusi_menu .dropdown-content .pushy-link.perangkatkeras {
        width: 264px;
        padding-left: 24px;
    }

    #navitem_solusi_menu .dropdown-content .pushy-link a:last-of-type,
    #navitem_layanan_menu .dropdown-content a:last-of-type {
        margin-bottom: 0;
    }

    #navitem_solusi_menu .dropdown-content>li.last {
        border-top: 1px solid #e2e2e2;
        flex-basis: 100%;
        max-width: 100%;
        padding: 16px 32px;
    }

    #navitem_solusi_menu .dropdown-content>li.last>div {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
    }

    #navitem_solusi_menu .dropdown-content>li.last>div>div {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }

    #navitem_layanan_menu .dropdown-content>li:first-of-type {
        min-width: 288px;
        padding-right: 0;
    }

    #navitem_layanan_menu .dropdown-content>li {
        padding: 24px;
    }

    #navitem_layanan_menu .dropdown-content a.dropdown-item::before {
        left: 0;
    }

    #navitem_layanan_menu .dropdown-content a.dropdown-item {
        padding-left: 36px;
        margin-bottom: 12px;
    }

    .all-menu-items>li:nth-of-type(1), 
    .all-menu-items>li:nth-of-type(2), 
    .all-menu-items>li:nth-of-type(3) {
        position: static;
    }
    
    .all-menu-items>li:nth-of-type(4), 
    .all-menu-items>li:nth-of-type(5) {
        position: relative;
    }

    #navitem_produk_menu .dropdown-content>li .nav_item_link {
        color: #444444;
        display: block;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5em;
        padding: 2px 16px 2px 52px;
        margin: 0 0 8px;
        position: relative;
        text-align: left;
        text-decoration: none;
    }

    #navitem_produk_menu .dropdown-content>li .nav_item_link:hover {
        color: #FF6F3D;
    }

    nav .pushy-content {
        margin: 0 auto;
        max-width: 85%;
        width: 80%;
    }
}

@media screen and (max-width: 1023px) {
    nav .pushy-content {
        margin: 0 auto;
        max-width: 864px;
    }
}

#navitem_produk, 
#navitem_solusi, 
#navitem_layanan, 
#navitem_media, 
#navitem_portofolio {
    color: #444444;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 600;
    vertical-align: middle;
}

#navitem_produk:hover,
#navitem_solusi:hover,
#navitem_layanan:hover,
#navitem_media:hover,
#navitem_portofolio:hover {
    border-color: #FF6F3D
}

#navitem_produk.active,
#navitem_solusi.active,
#navitem_layanan.active,
#navitem_media.active,
#navitem_portofolio.active {
    border-color: #FF6F3D;
    color: #FF6F3D
}

#navitem_produk.active:hover,
#navitem_solusi.active:hover,
#navitem_layanan.active:hover,
#navitem_media.active:hover,
#navitem_portofolio.active:hover {
    border-color: #FF6F3D;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

#navitem_produk_menu, 
#navitem_solusi_menu, 
#navitem_layanan_menu, 
#navitem_media_menu, 
#navitem_portofolio_menu {
    padding: 0;
}