#navitem_produk, 
#navitem_solusi, 
#navitem_layanan, 
#navitem_media, 
#navitem_portofolio,
#navitem_sign_in_mob_header {
    border-bottom-color: transparent;
}
#signinpage .SignInPanel {
    margin: 0 auto 140px;
    width: 448px;
}
#signinpage h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.33em;
    letter-spacing: -0.02em;
    padding: 90px 0 24px;
    text-align: center;
}
#signinpage article .dataItem .input-wrapper {
    background: #f9f9f9;
    border: solid 1px #AAAAAA;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 56px;
    line-height: 14px;
    margin-top: 0;
    position: relative;
    width: 100%;
}
#signinpage article .dataItem .input-wrapper:hover {
    border-color: #666666;
}
#signinpage article .dataItem input {
    border: none;
    background: transparent;
    color: #333333;
    height: auto;
    line-height: 32px;
    margin-top: 20px;
    outline: none;
}
#signinpage article .dataItem label {
    color: #AAAAAA;
    font-size: 16px;
    left: 14px;
    position: absolute;
    pointer-events: none;
    top: 18px;
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    -o-transition: transform 100ms ease;
    transition: transform 100ms ease;
    z-index: 2;
}
#signinpage article .dataItem input:invalid+label {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
#signinpage article .dataItem .input-wrapper.error label {
    color: #D87373;
    font-size: 12px;
    -webkit-transform: translateX(2px) translateY(-13px);
    -ms-transform: translateX(2px) translateY(-13px);
    transform: translateX(2px) translateY(-13px);
}
#signinpage article .dataItem .input-wrapper.error.error-middle label {
    font-size: 16px;
    transform: translateY(0);
}
#signinpage article .dataItem .input-wrapper.error input {
    height: auto;
    margin-top: 20px;
}
#signinpage article .dataItem .input-wrapper.error {
    background: #fff7f7;
    border-color: #CB0000;
}
#signinpage article .dataItem .input-wrapper:hover {
    border-color: #666666;
}
#signinpage article .dataItem .input-wrapper.error:hover {
    border-color: #CB0000;
}
#signinpage article .dataItem .input-wrapper.focus {
    background: #fff;
    border-color: #666666;
}
#signinpage article .dataItem .input-wrapper.focus input {
    height: auto;
    margin-top: 20px;
}
#signinpage article .dataItem input:focus+label{
    color: #666666;
    font-size: 12px;
    -webkit-transform: translateX(2px) translateY(-13px);
    -ms-transform: translateX(2px) translateY(-13px);
    transform: translateX(2px) translateY(-13px);
}
#signinpage article .dataItem .input-wrapper.focus label{
    color: #666666;
    font-size: 12px;
    -webkit-transform: translateX(2px) translateY(-13px);
    -ms-transform: translateX(2px) translateY(-13px);
    transform: translateX(2px) translateY(-13px);
}
#signinpage article .dataItem .input-wrapper.valid label {
    color: #666666;
    font-size: 12px;
    -webkit-transform: translateX(2px) translateY(-13px);
    -ms-transform: translateX(2px) translateY(-13px);
    transform: translateX(2px) translateY(-13px);
}
#signinpage #divSigninEmailError {
    margin: 4px 0 0;
    position: absolute;
}
#signinpage article .dataItem .input-wrapper.valid {
    background: #f9feef;
    border-color: #8BB825;
}
.signinwithsocial {
    width: 100%;
}
#signinpage #divSigninError {
    margin-top: -27px;
    position: absolute;
}
#signinpage .SignInPanel .button.red {
    font-size: 12px;
    letter-spacing: 0.08em;
    line-height: 16px;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
}
@media screen and (max-width: 592px) {
    #signinpage .SignInPanel {
        margin-bottom: 48px;
        width: 90vw;
    }
}