html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
    head
        title= title
        script(type="module" crossorigin src="/static/assets/index-DDV1WXw0.js")
        link(rel="stylesheet" crossorigin href="/static/assets/index-n_ryQ3BS.css")
    body
        div#root
            