html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
    head
        title= title
        include includes/meta.pug
        include includes/css.pug
    body#defaultpage
        div 
            h2 Halaman beranda