doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="COMMMITECH SOLUSINDO menawarkan konsultasi IT dan pembuatan perangkat lunak secara optimal dengan biaya seminimal mungkin untuk menunjang kebutuhan bisnis anda di era digital. Di era digital, Komunikasi antara pemangku kepentingan bisnis dengan pelanggan berlangsung cepat dan efisien merupakan salah satu kunci sukses dari bisnis anda.")
    meta(property="og:title" content="CSO patner terpercaya untuk digitalisasi bisnis anda.")
    meta(property="og:url" content="https://cso.ddns.net")
    meta(property="og:description" content="COMMMITECH SOLUSINDO menawarkan konsultasi IT dan pembuatan perangkat lunak secara optimal dengan biaya seminimal mungkin untuk menunjang kebutuhan bisnis anda di era digital. Di era digital, Komunikasi antara pemangku kepentingan bisnis dengan pelanggan berlangsung cepat dan efisien merupakan salah satu kunci sukses dari bisnis anda.")
    meta(property="og:title" content="CSO patner terpercaya untuk digitalisasi bisnis anda.")
    meta(property="og:image" content="https://cso.ddns.net/images/logo.svg")
    meta(property="og:type" content="website")    
    link(rel="stylesheet", href="/static/css/reset.cso.css")
    link(rel="stylesheet", href="/static/css/font.cso.css")
    link(rel="stylesheet", href="/static/css/common.cso.css")
    link(rel="stylesheet", href="/static/css/navigation.cso.css")
    link(rel="stylesheet", href="/static/css/timlab.cso.css")
    link(rel="stylesheet", href="/static/css/default_page.cso.css")
    link(rel="stylesheet", href="/static/css/mobile.cso.css")
    link(rel="stylesheet", href="/static/css/pushy.cso.css")
  body#defaultpage
    div.BaseSide.Com2: .mainpart(style="z-index:1")
      div.site-overlay
      header: .narrowheader
        div.logo.push: a(href="/main")
        div.ham_menu.push.menu-btn.pushy-link
          span
          span
          span
        nav.pushy.pushy-left 
          div.pushy-content
            ul.all-menu-items
              li.pushy-submenu.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_produk produk
                div#navitem_produk_menu(style="display: none;")
                  ul.dropdown-content.akkordeon
                    li
                      div#navitem_produk_akuntansi.dropdown-item
                        | Akuntansi
                        p.produk_info Kelolah keuangan bisnis secara mudah, cepat dan akurat
                      div#navitem_produk_medis.dropdown-item
                        | Medis 
                        p.produk_info Kelolah data medis dan biaya layanan secara terintegritas
                      div#navitem_produk_kantor.dropdown-item
                        | Admin kantor
                        p.produk_info Permudah surat menyurat dan kelolah dokumen
                      div#navitem_produk_messageapi.dropdown-item
                        | MessageAPI
                        p.produk_info API pertukaran pesan whatsapp dan telegram
                    li
                      div.produk-sub-submenu#navitem_produk_akuntansi_submenu(style="display: flex;")
                        div 
                          div#navitem_produk_akuntansi_mobile Akuntansi
                          a.dropdown-item.mobile_no_link#produk_akuntansi(href="/akuntansi") Fitur 
                          a.nav_item_link#navitem_produk_submenu_part1(href="") Kustomisasi akun buku besar, jurnal dan formulir
                          a.nav_item_link#navitem_produk_submenu_part2(href="") Sistem pengendalian intern
                          a.nav_item_link#navitem_produk_submenu_part3(href="") Sistem penjualan kredit
                          a.nav_item_link#navitem_produk_submenu_part4(href="") Sistem akuntansi piutang 
                          a.nav_item_link#navitem_produk_submenu_part5(href="") Sistem akuntansi pembelian 
                          a.nav_item_link#navitem_produk_submenu_part7(href="") Sistem akuntansi utang 
                          a.nav_item_link#navitem_produk_submenu_part8(href="") Sistem akuntansi penggajian 
                          a.nav_item_link#navitem_produk_submenu_part9(href="") Sistem akuntansi biaya
                          a.nav_item_link#navitem_produk_submenu_part10(href="") Sistem akuntansi penerimaan kas
                          a.nav_item_link#navitem_produk_submenu_part11(href="") Sistem akuntansi penggeluaran kas 
                          a.nav_item_link#navitem_produk_submenu_part12(href="") Sistem akuntansi persediaan 
                          a.nav_item_link#navitem_produk_submenu_part13(href="") Sistem akuntansi aktiva tetap
                        div.produk-sub-submenu#navitem_produk_akuntansi_sub(style="display: block;")
                          a#navitem_produk_aplikasi_akutansi.dropdown-item.mobile_no_link(href="") aplikasi
                          a#navitem_produk_submenu_pos.nav_item_link(href="") Akuntansi perusahaan dagang (toko mainan, toko kelontong, rumah makan, resto, dll)
                          a#navitem_produk_submenu_pos.nav_item_link(href="") Akuntansi perusahaan jasa(travel, penginapan, transportasi, dll)
                          a#navitem_produk_submenu_pos.nav_item_link(href="") Akuntansi perusahaan produksi(pabrik garmen, plastik, furnitur, dll)
                      div.produk-sub-submenu#navitem_produk_medis_submenu(style="display: flex;")
                        div 
                          div#navitem_produk_medis_mobile Medis
                          a.dropdown-item.mobile_no_link#produk_medis(href="/medis") Fitur
                          a.nav_item_link#navitem_medis_submenu_part1(href="") Registrasi pasien
                          a.nav_item_link#navitem_medis_submenu_part3(href="") ASKEP
                          a.nav_item_link#navitem_medis_submenu_part4(href="") Penunjang medis farmasi
                          a.nav_item_link#navitem_medis_submenu_part5(href="") Penunjang medis laborat 
                          a.nav_item_link#navitem_medis_submenu_part6(href="") Penunjang medis radiologi
                      div.produk-sub-submenu#navitem_produk_kantor_submenu(style="display: flex;")
                      div.produk-sub-submenu#navitem_produk_messageapi_submenu(style="display: flex;")
                    li.last
              li.pushy-submenu.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_solusi solusi
                div#navitem_solusi_menu(style="display: none;")
                  ul.dropdown-content.akkordeon
                    li.pushy-link
                      a.dropdown-item.mobile_no_link.active#navitem_fb_perangkatlunak perangkat lunak
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Finance
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Sales
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Websites
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Supply Chain
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Human Resources
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Marketing
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Services
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Productivity
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Healtcare
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak Education
                      a.dropdown-item.active#navitem_fb_kustomisperangkatlunak E-governance
                    li.pushy-link.perangkatkeras
                      a.dropdown-item.mobile_no_link.active#navitem_fb_perangkatkeras perangkat keras
                      a.dropdown-item.active#navitem_fb_network Network
                      a.dropdown-item.active#navitem_fb_storage Storage
                      a.dropdown-item.active#navitem_fb_server Server
                      a.dropdown-item.active#navitem_fb_server Iot
                    li.last
                      div 
                        div
                          a#navitem_fb_kontak(href="").dropdown-item Hubungi bagian penjualan
                          a#navitem_fb_request(href="").dropdown-item Permintaan demontrasi
              li.pushy-submenu.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_layanan layanan
                div#navitem_layanan_menu(style="display: none;")
                  ul.dropdown-content.akkordeon
                    li.pushy-link
                      a.dropdown-item.active#navitem_fb_sofware_development Konsultasi dan pembuatan perangkat lunak
                      a.dropdown-item.active#navitem_fb_konsul konsultasi dan implementasi infrastruktur IT
                      a.dropdown-item.active#navitem_fb_iot konsultasi dan implementasi solusi embed dan Iot
              li.pushy-submenu.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_media berbagi media
              li.pushy-submenu.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_portofolio portofolio
            div.signin_wrapper
              div.pushy-submenu.signin.pushy-submenu-closed(style="display: inline-block;")
                a.menuitem#navitem_sign_in_header login
                div#navitem_signin_menu.top_border
                  ul.dropdown-content.akkordeon
                    li.pushy-link
                      a#navitem_sign_in.dropdown-item.active Izin akses
                      div 
                        a.dropdown-item#navitem_sign_in_masuk(href="/masuk") Masuk 
                        a.dropdown-item#navitem_sign_in_daftar(href="/daftar") Daftar 
      article#target
        .contentConteiner: .dp-first-screen: .dp-top-block
          h1 Akselerasi bisnis anda bersama    
            span.orangetext COMMITECH SOLUSINDO
    script(type="text/javascript" src="/static/js/jquery/jquery.core.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.cookies.js")
    script(type="text/javascript" src="/static/js/core/jquery.dropdownToggle.js")
    script(type="text/javascript" src="/static/js/scrollflow/jquery.scrollme.js")
    script(type="text/javascript" src="/static/js/core/main.cso.js")
    script(type="text/javascript" src="/static/js/core/menu.cso.js")
    script(type="text/javascript" src="/static/js/core/navigation.menu.cso.js")
    script(type="text/javascript" src="/static/js/pagescripts/defpage.cso.js")