doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
  head
    title= title
    include includes/meta.pug
    include includes/css.pug
  body#defaultpage
    div.BaseSide.Com2
      input#browserType(type="hidden")
      div.mainpart(style="z-index:1")
        div.site-overlay
        include includes/nav.pug
        article#target
          div.contentConteiner
            div.dp-first-screen: div.dp-top-block
              h1 Akselerasi bisnis anda bersama    
                span.orangetext COMMITECH SOLUSINDO
              div.dp-d-btns
                a.button.orange-button#get_lebih_lanjut(href="") Info lebih lanjut
                a.button.gray-button#get_aksi_nyata(href="") Coba aplikasi
            div.dp-main
              div.dp-m-bg
                div.dp-m
                  div.dp-m-inside
                    h2
                      | Selayang pandang mengenai 
                      span.orangetext Commitech Solusindo (CSO)
                    div.m-deskripsi
                      p.sb_text 
                        | Kami menyediakan solusi layanan konsultan teknologi informasi dan transformasi digital yang berfokus terhadap jasa pembuatan software dan aplikasi custom based, IT Managed Services, kebutuhan hardware, Audit IT hingga Transformasi Digital 4.0 . Berlokasi di Jawa Timur, sofware yang kami buat berjalan optimal pada hardware dikarenakan kami bukan sekedar 
                        i sofware developer 
                        | akan tetapi kami juga melibatkan 
                        i software enginer 
                        | sebagai tim penyingkron antara software dengan hardware.
                  div.spd-img.first.main
              div.dp-m-bg.grey
              div.dp-m-bg               
    script(type="text/javascript" src="/static/js/jquery/jquery.core.js")
    script(type="text/javascript" src="/static/js/core/jquery.browser.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.blockUi.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.tmpl.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.mask.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.scrollTo.js")
    script(type="text/javascript" src="/static/js/core/jquery.tlcombobox.js")
    script(type="text/javascript" src="/static/js/core/anchorcontroller.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.core.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.datepicker.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.widget.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.mouse.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.slider.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.touch-punch.min.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.cookies.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.json.js")
    script(type="text/javascript" src="/static/js/core/jquery.base64.js")
    script(type="text/javascript" src="/static/js/core/main.cso.js")
    script(type="text/javascript" src="/static/js/core/site-search.cso.js")
    script(type="text/javascript" src="/static/js/core/menu.cso.js")
    script(type="text/javascript" src="/static/js/core/ajaxposter.cso.js")
    script(type="text/javascript" src="/static/js/lodash/lodash.min.js")
    script(type="text/javascript" src="/static/js/core/jquery.dropdownToggle.js")
    script(type="text/javascript" src="/static/js/scrollflow/jquery.scrollme.js")
    script(type="text/javascript" src="/static/js/core/navigation.menu.cso.js")    
    script(type="text/javascript" src="/static/js/jquery/pushy.min.js")
    script(type="text/javascript" src="/static/js/pagescripts/defpage.cso.js")
    script(type="text/javascript" src="/static/js/slick/slick.min.js")