doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/index.css")
  body(id="defaultpage")
    div(class="container")
      - var pengumuman = false
      if pengumuman
        div(class="pengumuman")
          a(href="/pengumuman")        
            div(class="pengumuman-text")
              p(style="color: white") pengumuman
      header
        div(class="logo") 
          a(href="/")
      div(class="main")
        div(class="dp-first-screen") sdfsa dsfjsadkfjsaldkf