doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
  head
    title= title
    include includes/meta.pug
    include includes/css.pug
  body#defaultpage
    div.BaseSide.Com2
      input#browserType(type="hidden")
      div.mainpart(style="z-index:1")
        div.site-overlay
        include includes/nav.pug
        article#target
          div.contentConteiner: div.dp-first-screen: div.dp-top-block
            h1 Akselerasi bisnis anda bersama    
              span.orangetext COMMITECH SOLUSINDO
            div.dp-d-btns
              a.button.orange-button#get_lebih_lanjut(href="") Info lebih lanjut
              a.button.gray-button#get_aksi_nyata(href="") Coba aplikasi
    include includes/script.pug