doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet", href="css/main.css")
  body(id="mainpage")
    div(class="container")
      div(class="header") 
        div(class="logo") 
          a(href="/")
      div(class="left-aside") left-aside 
      div(class="banner") banner 
      div(class="main") main 
      div(class="low-content") low content 
      div(class="right-aside") right-aside
      div(class="footer") footer