doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet", href="/static/css/reset.css")
    link(rel="stylesheet", href="/static/css/common_cso.css")
    link(rel="stylesheet", href="/static/css/navigation_cso.css")
    link(rel="stylesheet", href="/static/css/default_page.css")
  body#defaultpage
    .mainpart
      header: .narrowheader
        .logo.push: a(href="/main")
        nav.pushy.pushy-left: .pushy-content: ul.all-menu-items
          li.pushy-submenu
      article 