doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
  include includes/head.pug
  body#defaultpage
    div.BaseSide.Com2
      input#browserType(type="hidden")
      div.mainpart(style="z-index:1")
        div.site-overlay
        include includes/nav.pug
    include includes/script.pug