doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#")
  head
    title= title
    include includes/meta.pug
    include includes/css.pug
    link(rel="stylesheet", href="/static/css/signin.cso.css")
  body#signinpage
    div.BaseSide.Com2
      input#browserType(type="hidden")
      div.mainpart(style="z-index:1")
        div.site-overlay
        include includes/nav.pug
        article#target
          div.contentConteiner: div.InnerPage.signinpage
            div.innerblue: div.description
              div.siginpageform: div.dataForm.SignInPanel
                h3 Log in untuk masuk ke sistem CSO
                div.dataItem 
                  div.input-wrapper
                    input#txtSignInEmail(type="email" tabindex="1" name="txtSignInEmail" maxlength="255" required)
                    label.dataLabel(for="txtSignInEmail") Email*
                  div#divSigninEmailError.dataFormError Error
                div.dataItem
                  div.input-wrapper
                    input#txtSignPassword(type="password" tabindex="2" name="txtSignPassword" data-min="8" required)
                    label.dataLabel(for="txtSignPassword") Password*
                div.signinwithsocial
                  div.dataFormError#divSigninError Error
                  div.Progress#divSigninProgress Please wait...
                  input#signIn.button.red(type="button" value="Log in" onclick="SignIn(); return false;" tabindex="3")
    script(type="text/javascript" src="/static/js/jquery/jquery.core.js")
    script(type="text/javascript" src="/static/js/core/jquery.browser.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.blockUi.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.tmpl.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.mask.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.scrollTo.js")
    script(type="text/javascript" src="/static/js/core/jquery.tlcombobox.js")
    script(type="text/javascript" src="/static/js/core/anchorcontroller.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.core.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.datepicker.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.widget.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.mouse.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.slider.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.ui.touch-punch.min.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.cookies.js")
    script(type="text/javascript" src="/static/js/jquery/jquery.json.js")
    script(type="text/javascript" src="/static/js/core/jquery.base64.js")
    script(type="text/javascript" src="/static/js/core/main.cso.js")
    script(type="text/javascript" src="/static/js/core/site-search.cso.js")
    script(type="text/javascript" src="/static/js/core/menu.cso.js")
    script(type="text/javascript" src="/static/js/core/ajaxposter.cso.js")
    script(type="text/javascript" src="/static/js/lodash/lodash.min.js")
    script(type="text/javascript" src="/static/js/email-validator/punycode.js")
    script(type="text/javascript" src="/static/js/email-validator/email-addresses.js")
    script(type="text/javascript" src="/static/js/email-validator/asc.mail.utility.js")
    script(type="text/javascript" src="/static/js/core/jquery.helper.js")
    script(type="text/javascript" src="/static/js/core/jquery.dropdownToggle.js")
    script(type="text/javascript" src="/static/js/scrollflow/jquery.scrollme.js")
    script(type="text/javascript" src="/static/js/core/navigation.menu.cso.js")    
    script(type="text/javascript" src="/static/js/jquery/pushy.min.js")
    script(type="text/javascript" src="/static/js/pagescripts/signinpage.cso.js")